
<div class="container">
<app-header></app-header>
<!-- use table-->
<!--
<app-songs></app-songs>-->
  <!-- use div -->
  <!--
  <app-songs1></app-songs1>
    -->
  <!-- use single box for both display and input -->
  <!--
  <app-songs2></app-songs2>
  -->
  <!-- mobile friendly design, edit/delete/save button in one div -->
  <!-- sorting is not working in mobile design yet -->
  <!-- display price using $0.00 format
  <app-songs3></app-songs3>-->
<!-- add Angule/PWA support and push notification-->
  <app-songs4></app-songs4>
</div>
  
 